@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --dark-theme-color: #02012b;
  --main-font-family : 'Roboto', sans-serif;
  --content-color: #D2D1E3;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.content-boxes-style {
  background-color: #25253F;
  border: 1px solid #3C3A5F;
  filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.07)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.07));
  color: #D2D1E3;
}

html,
body {
  font-family: var(--main-font-family);
  @apply bg-white dark:bg-(--dark-theme-color);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
