@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --dark-theme-color: #02012b;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html,
body {
  @apply bg-white dark:bg-(--dark-theme-color);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
